*.pyc
.idea/workspace.xml
.idea/sslcaudit.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/sslcaudit.iml
.idea/dataSources.xml
.*.swp
.~lock.*#
*.sublime-project
*.sublime-workspace
openssl-1.0.1b/test/
