Source: sslcaudit
Maintainer: Alexandre Bezroutchko <abb@gremwell.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4
XS-Python-Version: >=2.6.5

Package: python-sslcaudit
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-m2crypto
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Utility to perform security audits of SSL/TLS clients

